<div class="nav-bar">
  <h1>Wikinimous</h1>
  <%= link_to "New article", new_article_path  %>
</div>
<div class="articles">
  <ul class="list-unstyled">
    <% @articles.each do |article| %>
    <li>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <%= article.content[0..150] %>
    </li>
    <% end %>
  </ul>
</div>

